@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}


.cardProfile{
box-shadow: #abe56027 1px 1px 15px 10px;
}
.card{
  transform-origin: center center;
  transition: all 0.4s ease-in-out;
}
.card:hover{
box-shadow: #abe5604f 1px 1px 15px 10px;
 transform: scale(1.1);
}